<!doctype html>
<html>
  <head>
    <title>Confirm your Email</title>
  </head>
  <body>
    <h1>Welcome to Our App!</h1>

    <p>
      Thank you for registering. Please confirm your email by clicking on the
      link below:
    </p>

    <p>If you did not create an account, no further action is required.</p>
    <p>Best regards,</p>
    <p>Your Company Name</p>
  </body>
</html>
